<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav
    class="pt-4"
    #sidenav
    [opened]="true"
    [mode]="'side'"
    [fixedInViewport]="true"
  >
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <label>Pattern:</label>
          <select
            class="form-control"
            [(ngModel)]="pIndex"
            [disabled]="customPattern.length > 0"
          >
            <option value="0">Ikea (vcvv)</option>
            <option value="1">Saab (cvvc)</option>
            <option value="2">Assa (vccv)</option>
            <option value="3">Kivra (cvccv)</option>
            <option value="4">Klarna (ccvccv)</option>
            <option value="5">RANDOM!</option>
          </select>
          <label>Number of words:</label>
          <div class="text-center">
            <mat-slider
              [(ngModel)]="numOfWords"
              [max]="1000"
              [min]="100"
              [step]="100"
              [value]="100"
            ></mat-slider
            >{{ numOfWords }}
          </div>
          <label>Only unique letters:</label>
          <div>
            <mat-slide-toggle [(ngModel)]="noRepeat"></mat-slide-toggle>
          </div>
          <label>Custom pattern:</label>
          <input type="text" class="form-control" [(ngModel)]="customPattern" />
          <hr />
          <button
            class="btn btn-primary"
            (click)="randomize()"
            [disabled]="
              customPattern.length > 0 &&
              customPattern.indexOf('*') === -1 &&
              customPattern.indexOf('C') === -1 &&
              customPattern.indexOf('V') === -1
            "
          >
            Generate!
          </button>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 pt-3">
          <h2 class="mt-2 d-inline-block text-warning" (click)="sidenav.open()">
            <img src="./../assets/swedish_flag.svg" /> Swedish company name
            generator
          </h2>
          <p (click)="sidenav.close()">
            Welcome to the swedish company name generator! Here in Sweden, we
            love short names like volvo, ikea, klarna, kivra etc. 4 or 5 letter.
            Doesn't the name mean anything? Even Better! Go ahead and generate
            your own swedish company name.
          </p>
          <div
            *ngIf="error != ''"
            class="alert alert-danger-custom animated flash"
            role="alert"
          >
            {{ error }}
          </div>
        </div>

        <ng-container *ngIf="words.length > 0">
          <div class="col-sm-4" *ngFor="let word of words">
            {{ word }}
          </div>
        </ng-container>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
