.container {
  padding-top: 2rem;
}

h2 img {
  float: left;
  margin-right: 0.5rem;
  width: 68px;
}

.alert-danger-custom {
  background-color: #e41111;
  color: white;
}

ul {
  padding-inline-start: 0px;
}

ul li {
  list-style: none;
}

ul mark {
  padding: 0.2em;
  width: 2rem;
  text-align: center;
  display: inline-block;
  background-color: #fcf8e3;
  margin-right: 0.5rem;
}

.pointer {
  cursor: pointer;
}

mat-sidenav-content {
  margin-right: 0 !important;
}