<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav
    #sidenav
    class="pt-4"
    [opened]="(width$ | async) > 576"
    [mode]="(width$ | async) > 576 ? 'push' : 'over'"
    [fixedInViewport]="true"
  >
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div
            *ngIf="(width$ | async) > 576 === false"
            (click)="sidenav.close()"
          >
            Close
          </div>
          <label>Presets:</label>
          <select class="form-control" (change)="pattern = $event.target.value">
            <ng-container *ngFor="let preset of presets">
              <option value="{{ preset.value }}">{{ preset.name }}</option>
            </ng-container>
          </select>
          <label>Pattern:</label>
          <input type="text" class="form-control" [(ngModel)]="pattern" />
          <label>Number of words:</label>
          <div class="text-center">
            <mat-slider
              [(ngModel)]="numOfWords"
              [max]="100"
              [min]="10"
              [step]="10"
              [value]="10"
            ></mat-slider
            >{{ numOfWords }}
          </div>
          <label>Only unique letters:</label>
          <div>
            <mat-slide-toggle [(ngModel)]="noRepeat"></mat-slide-toggle>
          </div>
          <hr />
          <button
            *ngIf="
              pattern.length === 0 ||
              pattern.indexOf('*') > -1 ||
              pattern.indexOf('#') > -1 ||
              pattern.indexOf('@') > -1
            "
            class="btn btn-primary w-100"
            (click)="randomize()"
            [disabled]="pattern.length === 0"
          >
            Generate!
          </button>
          <button
            *ngIf="
              pattern.indexOf('*') === -1 &&
              pattern.indexOf('#') === -1 &&
              pattern.indexOf('@') === -1
            "
            class="btn btn-primary w-100"
            (click)="shuffle()"
          >
            Shuffle!
          </button>
          <hr />
          <p>
            Build your pattern using letters combined with the following special
            characters:
          </p>
          <ul>
            <li><mark>#</mark> Consonant</li>
            <li><mark>@</mark> Vowel</li>
            <li><mark>*</mark> Consonant or Vowel</li>
          </ul>
          <p>
            If no special characters are included, the provided input will
            instead get shuffled into a series of anagrams.
          </p>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 pt-3">
          <h2 class="mt-2 d-inline-block text-warning" (click)="sidenav.open()">
            <img src="./../assets/swedish_flag.svg" /> Swedish company name
            generator
          </h2>
          <p (click)="sidenav.close()">
            Welcome to the swedish company name generator! Here in Sweden, we
            love short names like volvo, ikea, klarna, kivra etc. 4 or 5 letter.
            Doesn't the name mean anything? Even Better! Go ahead and generate
            your own swedish company name.
          </p>
          <ng-container *ngIf="savedWords.length > 0">
            <hr />
            <h6
              class="d-inline-block mr-2 pointer"
              *ngFor="let word of savedWords; let i = index"
              (click)="removeWord(i)"
            >
              {{ word }}
            </h6>
            <hr />
          </ng-container>
          <div
            *ngIf="error != ''"
            class="alert alert-danger-custom animated flash"
            role="alert"
          >
            {{ error }}
          </div>
        </div>

        <ng-container *ngIf="words.length > 0">
          <div
            class="col-sm-4"
            *ngFor="let word of words"
            (click)="saveWord(word); shuffleString(word)"
          >
            <h6 class="d-inline-block pointer">{{ word }}</h6>
          </div>
        </ng-container>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
