@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html {
  height: 100%;
}

body {
  color: #000;
}

mat-sidenav {
  background-color: #eae9ff !important;
  width: 300px;
}

.mat-drawer {
  color: #000;
}

.mat-drawer-container {
  background-color: transparent;
  color: #000;
}

.mat-slider-horizontal {
  width: 228px;
}

label {
  margin-bottom: 0rem;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
